{% extends "base.html" %}
{% block pagetitle %}Disease ID : {{disease.mim}}{% endblock %}
{% block css%}

h1{ position:relative; }
h1 span{ position:absolute; top:-70px;}
h3{ position:relative; }
h3 span{ position:absolute; top:-70px;}
{% endblock %}

{% block javascript %}<link href="{{ STATIC_URL }}offcanvas.css" rel="stylesheet">{% endblock %}
{% block title %}{% endblock %}
{% block content %}

<!-- ################## DISEASE BASIC VIEW ##################################-->

<div class="row row-offcanvas row-offcanvas-right"> 
        <div class="col-xs-12 col-sm-9"><!-- Left Canvas-->
<h1><span id = "basic"></span>{{disease.name}}</h1>

<div class = "well">
	<p><strong>Disease ID:</strong> {{disease.mim}} [<a data-toggle="popover" data-content="External link to OMIM" href = "http://www.omim.org/entry/{{disease.mim}}" target = "_blank">Link</a>]<br>
	<strong>Disease Name:</strong> {{disease.name}}</p>
</div>

<!-- ################## DISEASES  ##################################-->
<div class="page-header"><h3><span id = "summary"></span>Related Diseases Summary</h3></div>

<div class = "well">
	{% if diseases %}	
	<p>Found {{ diseases|length }} disease{{ diseases|pluralize }} that share the same Uniprots taken from related SNVs</p>
	<p>{% for item in diseases %}
		<a data-toggle="popover" data-content="Go to this Disease View"  href = {{item.get_absolute_url}} target='_blank'>{{item.mim}} | {{item.name}}</a><br>
	{% endfor %}</p>
	{% else %}	
	<p>No related disease found.</p>

	{% endif %}
</div>

<!-- ################## All Uniprots ##################################-->
<div class="page-header"><h3><span id = "uniprots"></span>Related Uniprots and their associated diseases</h3></div>
	<p>Found {{ uniprots|length }} protein{{ uniprots|pluralize }} that are associated with {{disease.name}}.</p>
	<table class="table table-condensed table-hover">
	<thead>		
		<tr>
			<th>Uniprot</th>
			<th>Associated diseases from this Uniprot</th>
		</tr>
	</thead>
	<tbody>
		{% for uniprot in uniprots %}
		<tr>
			<td><a data-toggle="popover" data-content="Go to this Uniprot View" href={{BASE_URL}}/uniprot/{{uniprot.0}} target = "_blank">{{uniprot.0}}</a></td>
			<td>{% for disease_item in uniprot.1 %}<a data-toggle="popover" data-content="Go to this Disease View" href = {{disease_item.get_absolute_url}} target='_blank'>{{disease_item.mim}} | {{disease_item.name}}</a><br>{% endfor %}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>	


	


<!-- ################## SNVS ##################################-->
<div class="page-header"><h3><span id = "snvs"></span>Related SNVs, Uniprots, and Diseases</h3></div>

	<p>Found {{ snv_list|length }} SNV{{ snv_list|pluralize }} that are associated with {{disease.name}}.</p>

	{% if snv_list %}
	<div class="table-responsive">
	<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Uniprot</th>
			<th>Position</th>
			<th>Mutation</th>
			<th>Directly associated diseases</th>
		</tr>
	</thead>
	<tbody>
  	{% for item in snv_list %}
		<tr>
			<td><code style="background-color:{{item.obj.get_color}}; color:white;"><strong>{{item.obj.get_short_code}}</strong></code> <a data-toggle="popover" data-content="Go to this Snv View" href = {{item.obj.get_absolute_url}} target ='_blank'>{{item.obj.ft_id}}</a></td>
			<td>{% if item.obj.uniprot_residue %}<a data-toggle="popover" data-content="Go to this Uniprot View"  href = '{% url "uniprot-view" pk=item.obj.uniprot %}' target = "_blank">{{item.obj.uniprot}}</a>{% else %}<span class="text-danger">{{item.obj.uniprot}}</span>{% endif %}</td>
			<td>{{item.obj.uniprot_residue.position}}</td>	
			<td>{{item.obj.wt_aa.three_letter_code}} <span class="glyphicon glyphicon-arrow-right"></span> {{item.obj.mutant_aa.three_letter_code}}</td>			
			<td>{% for disease_item in item.obj.diseases.all %}<a data-toggle="popover" data-content="Go to this Disease View" href = {{disease_item.get_absolute_url}} target='_blank'>{{disease_item.mim}} | {{disease_item.name}}</a><br>{% endfor %}</td>			
		</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
	{% endif %}


        </div><!--/span-->

<!-- ################## NAVIGATION BAR ##################################-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-sidenav affix">
			  <li><strong><span class="glyphicon glyphicon-search"></span> Quick Navigation</strong></li>
			  <li><a href="#basic"><span class="glyphicon glyphicon-chevron-right"></span> Basic information</a></li>
			  <li><a href="#summary"><span class="glyphicon glyphicon-chevron-right"></span> Related diseases Summary {% if diseases %}<span class="badge">{{diseases | length}}</span>{% endif %}</a></li>
			  <li><a href="#uniprots"><span class="glyphicon glyphicon-chevron-right"></span> Related Uniprots {% if uniprots %}<span class="badge">{{uniprots | length}}</span>{% endif %}</a></li>
			  <li><a href="#snvs"><span class="glyphicon glyphicon-chevron-right"></span> Related SNVs {% if snv_list %}<span class="badge">{{snv_list | length}}</span>{% endif %}</a></li>
			  

			</ul>
        </div><!--/span-->
      </div><!--/row-->
</div>
{% endblock %}
{% block extraplugin %} <script src="{{ STATIC_URL }}offcanvas.js"></script> {% endblock %}
