
{% extends 'base.html' %}

{% block pagetitle %}SNVdb{% endblock %}
{% block css%}
.jumbotron {
	background-image: url("{{ STATIC_URL }}bg2560x1600.jpg");
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
padding-top: 90px;
padding-bottom: 90px			
}

.btn-primary{color:#fff;background-color:#2A60A5;border-color:#265593} <!--default bg #428bca, border #357ebd -->
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#2A60A5;background-color:#fff;border-color:#fff}
.btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{color:#2A60A5; background-color:#fff;border-color:#fff}



.btn-xlg{padding:14px 20px;font-size:24px;line-height:1.33;border-radius:10px}



{% endblock %}
{% block header %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="site-wrapper">
<div class="cover-container">
    <div class="jumbotron">
      <div class="container">
        <h1 style="font-size:450%;color: #fff; text-align:center;text-shadow:2px 2px #2963AF;">SNVdb</h1>
        <h3 style="color: #fff; text-align:center"> Uncover protein interactions, SNVs, and associated diseases...    </h3>

		<!-- JAVA -->


		<script type="text/javascript">
			function explain(value){
				if(document.getElementById("search_select").value=="1"){
					document.getElementById("query").placeholder="Uniprot ID, protein name, GenBank ID, or GeneCode ID"
				}
				if(document.getElementById("search_select").value=="2"){
					document.getElementById("query").placeholder="FT ID, or DB SNP ID"
				}
					if(document.getElementById("search_select").value=="3"){
					document.getElementById("query").placeholder="Disease Name, or OMIM ID"
				}
			}
			</script>


		<!-- ############  Search form ######################-->
        
		<form class="form-horizontal"  role="form" action="/search/" method="get">
			<div class="form-group">
				<p for="inputtype" class="col-sm-2 control-label" style="color: #fff">Select type</p>

				<div class="col-sm-10">
					 <select class="form-control" name = "search_select" id = "search_select" onChange="explain(this)">
						  <option value = '1'>Protein</option>
						  <option value = '2'>SNV</option>
						  <option value = '3'>Disease</option>
					</select>  
				</div>
			</div>

			<div class="form-group">
	 			<p for="inputQ" class="col-sm-2 control-label" style="color: #fff">Your query</p>
				<div class="col-sm-10">
					<input type="text" id = "query" class="form-control" name = "q" placeholder="Uniprot ID, protein name, GenBank ID, or GeneCode ID">
				</div>
			</div>

			<div class="form-group">			
				<div class="col-sm-offset-2 col-sm-10">
					{% if error %}					
					<p class="text-danger">{{ error }}</p>
					{% endif %}
					<input class="btn btn-primary btn-xlg" role="button" type = "submit" value="Start search&raquo;"> 

				</div>
			</div>
		</form>
		
		<!-- ############  END OF Search form ######################-->
      	
	</div>
    </div>
</div>
</div>
{% endblock %} 

<!--##########################Content##########################-->
{% block content %}




      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-question-sign"></span> What is SNVdb</h2>
          <p>About the aim of this site and the sources of information we use</p>
          <p><a class="btn btn-default" href='{% url 'info' %}' role="button"> Find out more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-book"></span> How to use </h2>
          <p>A short tutorial to show you how the site works and help you making the most of it</p>
          <p><a class="btn btn-default" href='{% url 'getting-started' %}' role="button"> Go to the tutorial &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-user"></span> About us</h2>
          <p>Meet our development team at Imperial College London. We would love to hear from you!</p>
          <p><a class="btn btn-default" href='{% url 'about' %}' role="button">Find out more &raquo;</a></p>
        </div>
      </div>
{% endblock %}   

      <hr>
 
<!-- Contents -->
