{% extends "base_small.html" %}
{% load staticfiles %}
{% block javascript %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="{{BASE_URL}}{% static 'interface_svg.css' %}">


<script type="text/javascript">

	$(window).resize(function () {
		$('.interaction-2d').css({'height':($(window).height()-220).toString()+'px'});
	});

	$(window).ready(function () {
		$('.interaction-2d').css({'height':($(window).height()-220).toString()+'px'});
	});
</script>

{% endblock %}

{% block css %}

body{
  overflow:hidden
}

.interaction-2d{
	overflow:auto;
	overflow-x:hidden;
}

label{font-weight:normal !important}

{% endblock %}

{% block content %}
<h1>Interface for ID: {{interaction.id}} </h1>
<div class = "well">
	
	<h3>Interation Details:</h3>
		<table>
			<tr>
				<td><strong>Type</strong></td>
				<td><strong>Chain 1</strong></td>
				<td><strong>Chain 2</strong></td>
				<td><strong>Filename</strong></td>
			</tr>
			<tr>
				<td>{{interaction.inter_type.inter_type}}</td>
				<td>{{interaction.chain_1.id}}</td>
				<td>{{interaction.chain_2.id}}</td>
				<td>{{interaction.filename}}</td>
			</tr>
		</table>
</div>
<div class="interaction-2d">
		<table class='table table-condensed'>
			<tr>
				<td>
					<svg id="interface-canvas"></svg>
				</td>
                <td>
                    <div id='key-div' class='key'>
                        <h4>Key:</h4>
                        <svg id='keysvg'></svg>
                    </div>
                </td>
                <td>
                    <h3>SNVs for residue: <span id='residue-label'><span></h3>
                    <div id='snv-panes'>

                    </div>
                    <p id="no-snv" class='hidden'>No snvs for this residue</p>
                </td>
				<td>
					<ul class='list-unstyled'>
                        {% for bt in bond_types %}
						<li><label class='checkbox'>
							<input type='checkbox' id='bt-{{bt}}-checkbox' class='bond-checkbox' checked>{{bt}}
						</label></li>
                        {% endfor %}
					</ul>
				</td>
			</tr>
		</table>
        <script type="text/javascript">

            var interface_residues = [
            {% autoescape off %}
            {% for node in nodes %}
                {{node}},
            {% endfor %}
            {% endautoescape %}
            
            ]
            var chainALength = 0
            var chainBLength = 0
            for (var i = 0; i < interface_residues.length; i++){
                var chain = interface_residues[i].chain;
                if (chain=="A"){
                    chainALength += 1;
                } else {
                    chainBLength += 1;
                }
            };
            var edges = [
            {% for lir,res_dict in edges.items %}
                {% for rir,bond_type in res_dict.items %}
                    { coords : ['{{lir.id}}','{{rir.id}}'], type : '{{bond_type}}' },
                {% endfor %}
            {% endfor %}
            ]
            var group_names = [
            {% for id,name in groupid2name.items %}
                { 'id' : '{{id}}', 'name' : '{{name}}' },
            {% endfor %}
            ]
            var ir2snvs = {
            {% for ir,snvs in ir2snvs.items %}
                '{{ir.id}}' : [
                {% for snv in snvs %}
                    { 'ft_id' : '{{snv.ft_id}}', 'wt_aa' : '{{snv.wt_aa.one_letter_code}}', 'mutant_aa' : '{{snv.mutant_aa.one_letter_code}}', type : '{{snv.type.type}}' },
                {% endfor %}
                ],
            {% endfor %}
            }
            // Properties
            var maxLengthChain = d3.max([chainALength,chainBLength])
            var rectHeight = 30
            var w = 450
            var h = rectHeight*maxLengthChain
            var fontSize = 11
            var strokeWidth = 2
            var leftX = 50
            var dBetweenRect = 150
            var rectWidth = 100
            var rightX = leftX+rectWidth+dBetweenRect
            var keyRectWidth = 120

            // Make key
            var keyYScale = d3.scale.ordinal()
                                .domain(d3.range(0,group_names.length))
                                .rangeRoundBands([0,300],0.05)

            var keysvg = d3.select('#keysvg')
                            .attr({
                                width:120,
                                height:300,
                            })
            keysvg.selectAll('rect')
                    .data(group_names)
                    .enter()
                    .append('rect')
                    .attr({
                        x: 0,
                        y: function(d,i) {
                            return keyYScale(i)
                        },
                        rx:20,
                        ry:20,
                        width:keyRectWidth,
                        height:rectHeight,
                        class: function(d) {
                            return "aa"+d.id+" key"
                        },
                        id : function(d) {
                            return "keyaa"+d.id
                        }

                    });
            keysvg.selectAll('text')
                    .data(group_names)
                    .enter()
                    .append('text')
                    .text(function(d){
                        return d.name
                    })
                    .attr({
                        x: function(d){
                            var rect2 = d3.select('#keyaa'+d.id);
                            return parseFloat(rect2.attr('x'))+(parseFloat(rect2.attr('width')/2))
                        },
                        y: function(d){
                            var rect2 = d3.select('#keyaa'+d.id);
                            return parseFloat(rect2.attr('y'))+(parseFloat(rect2.attr('height'))/2)+(fontSize/2)-2
                        },
                        class : 'ir'
                    })



            // Create svg
            svg = d3.select("#interface-canvas")
                .attr('width',w)
                .attr('height',h);
            
            var barPadding = 2
            var yScaleA = d3.scale.ordinal()
                        .domain(d3.range(1,chainALength+1))
                        .rangeRoundBands([0, h], 0.05);
            var yScaleB = d3.scale.ordinal()
                        .domain(d3.range(1,chainBLength+1))
                        .rangeRoundBands([0, h], 0.05);
            // interface residues
            svg.selectAll('rect')
                .data(interface_residues)
                .enter()
                .append('rect')
                .attr({
                    x : function(d) {
                        var chain = d.chain;
                        if (chain=="A"){
                            return leftX;
                        } else {
                            return rightX;
                        }
                    },
                    y : function(d){
                        var chain = d.chain;
                        if (chain=="A"){
                            return yScaleA(d.order);
                        } else {
                            return yScaleB(d.order);
                        }
                        
                    },
                    rx : 20,
                    ry : 20,
                    width : rectWidth,
                    height : rectHeight-barPadding,
                    id : function(d) {
                        return "ir"+d.id;
                    },
                    class : function(d) {
                        return "aa"+d.group_id
                    }
                    })
                .on('mouseover', function(d){
                    var residueClass = "ir"+d.id;
                    d3.selectAll('line.edges')
                        .filter(function(){
                            if (this.classList.contains(residueClass) == false){
                            return this
                            }
                        })
                        .filter(function(){
                    		if (d3.select(this).attr('active')=='true'){
                    			return this
                    		}
                    	})
                        .transition()
                        .attr({
                            'opacity' : 0.1,
                            'stroke-width' : strokeWidth
                        });
                    d3.selectAll('line.'+residueClass)
                    	.filter(function(){
                    		if (d3.select(this).attr('active')=='true'){
                    			return this
                    		}
                    	})
                    	.transition()
                        .attr({
                            'stroke-width' : strokeWidth*2,
                            'opacity' : 1.0
                        });
                })
                .on('mouseout', function(d){
                    d3.selectAll('line.edges')
                    	.filter(function(){
                    		if (d3.select(this).attr('active')=='true'){
                    			return this
                    		}
                    	})
                        .transition()
                        .attr({
                            'opacity' : 1.0,
                            'stroke-width' : strokeWidth
                        });
                })
                .on('click', function(d){
                    d3.selectAll('rect.clicked').classed('clicked',false);
                    d3.select(this).classed('clicked',true);
                    d3.select(this).each(function(d){
                        d3.select('#residue-label')
                        .text(d.aa+"-"+d.uniprot_pos+"("+d.chain_pos+")");
                    });
                    var snv_panes = d3.select('#snv-panes');
                    var snv_list = ir2snvs[d.id];
                    if (snv_list.length>0){
                        d3.selectAll('div.snv')
                            .remove();
                        d3.select("#no-snv")
                            .classed('hidden',true);

                        var snv = snv_panes.selectAll('div')
                                            .data(snv_list)
                                            .enter()
                                            .append('div')
                                            .attr({
                                                id : function(d){
                                                    return "snv-"+d.ft_id
                                                },
                                                class : "snv"
                                            });
                        var para = snv.append('p')
                            .attr({
                                class : 'snv'
                            });
                        para.append('code')
                            .attr({
                                class : function(d){
                                    if (d.type=="Disease"){
                                        var type = 'disease'
                                    } else if (d.type=="Polymorphism") {
                                        var type = 'polymorphism'
                                    } else {
                                        var type = 'unclassified'
                                    };
                                    return "snvtype "+type
                                }
                            })
                            .style({
                                color:'white'
                            })
                            .html(function(d){
                                return "<strong>"+d.type+"</strong>"
                            });
                        para.append('a')
                            .attr({
                                href: function(d){
                                    return "{{BASE_URL}}/snv/"+d.ft_id
                                }
                            })
                            .html(function(d){
                                return " <strong>"+d.ft_id+"</strong> "
                            });
                        para.append('span')
                            .html(function(d){
                                return d.wt_aa+" <span class='glyphicon glyphicon-arrow-right'></span> "+d.mutant_aa
                            });

                    } else {
                        d3.selectAll('div.snv')
                            .remove();
                        d3.select("#no-snv")
                            .classed('hidden',false);
                    };
                });

            svg.selectAll('text')
                .data(interface_residues)
                .enter()
                .append('text')
                .html(function(d){
                    return d.aa+"-"+d.uniprot_pos+"("+d.chain_pos+")";
                })
                .attr({
                    x : function(d) {
                        var chain = d.chain;
                        if (chain=="A"){
                            return leftX+(rectWidth/2);
                        } else {
                            return rightX+(rectWidth/2);
                        }
                    },
                    y : function(d,i){
                        var rect = d3.select('#ir'+d.id);
                        return parseInt(rect.attr('y'))+(parseInt(rect.attr('height'))/2)+(fontSize/2)-2;
                    },
                    class : 'ir'
                    });
            svg.selectAll('foreignObject')
                .data(interface_residues)
                .enter()
                .append('foreignObject')
                .attr({
                    x: leftX+(rectWidth/2),
                    y: function(d) {
                        var rect = d3.select('#ir'+d.id)
                        return parseInt(rect.attr('y'))+(parseInt(rect.attr('height'))/2)
                    },
                    width: 10,
                    height: 10
                })
                .each(function(d){
                    var body = d3.select(this)
                                .append('body')
                                .attr({
                                    xmlns:"http://www.w3.org/1999/xhtml"
                                })

                    body.append('code')
                        .attr({
                                class : function(d){
                                    if (d.type=="Disease"){
                                        var type = 'disease'
                                    } else if (d.type=="Polymorphism") {
                                        var type = 'polymorphism'
                                    } else {
                                        var type = 'unclassified'
                                    };
                                    return "snvtype "+type
                                }
                            })
                            .style({
                                color:'white'
                            })
                            .html(function(d){
                                return "<strong>"+d.type+"</strong>"
                            });
                })
            svg.selectAll('line')
                .data(edges)
                .enter()
                .append('line')
                .attr({
                    x1 : leftX+rectWidth,
                    x2 : rightX,
                    y1 : function(d) {
                        var leftIr = d3.select('#ir'+d.coords[0]);
                        y = parseInt(leftIr.attr('y'));
                        height = parseInt(leftIr.attr('height'));
                        return y + height/2;
                    },
                    y2 :  function(d) {
                        var rightIr = d3.select('#ir'+d.coords[1]);
                        y = parseInt(rightIr.attr('y'));
                        height = parseInt(rightIr.attr('height'));
                        return y + height/2;
                    },
                    'stroke-width' : strokeWidth,
                    'class' : function(d){
                        return 'edges '+'ir'+d.coords[0]+' '+'ir'+d.coords[1]+' bt-'+d.type
                    },
                    'active' : true
                });

			var returnActiveCheckboxs = function(){
				var activeCheckboxs = []
				d3.selectAll('input.bond-checkbox')
					.each(function(){
						if (d3.select(this).property('checked')==true){
							activeCheckboxs.append(this.id)
						}
					});
				return activeCheckboxs
			};
            {% for bt in bond_types %}
            d3.select('#bt-{{bt}}-checkbox')
                .on('click',function(){
                    var bondClass = 'bt-{{bt}}';
                    if (d3.select(this).property('checked')==false){
                    d3.selectAll('line.'+bondClass)
                        .transition()
                        .attr({
                            'opacity' : 0.0,
                            'active'  : false
                        });
                    } else {
                        d3.selectAll('line.'+bondClass)
                            .transition()
                            .attr({
                                'opacity' : 1.0,
                                'active'  : true
                            });
                    }
                });
            {% endfor %}
            
        </script>
	</div>

{% endblock %}


