{% extends "base_small.html" %}
{% load staticfiles %}
{% block javascript %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}


{% block content %}
<h1>Interface for ID: {{interaction.id}} </h1>
<div class = "well">
	
	<h3>Interation Details:</h3>
		<table>
			<tr>
				<td><strong>Type</strong></td>
				<td><strong>Chain 1</strong></td>
				<td><strong>Chain 2</strong></td>
				<td><strong>Filename</strong></td>
			</tr>
			<tr>
				<td>{{interaction.inter_type.inter_type}}</td>
				<td>{{interaction.chain_1.id}}</td>
				<td>{{interaction.chain_2.id}}</td>
				<td>{{interaction.filename}}</td>
			</tr>
		</table>
</div>
<div class="interaction-2d">
		<table class='table table-condensed'>
			<tr>
				<td>
					<p class='bt-HYB active'>HYB</p>
					<svg id="interface-canvas"></svg>
				</td>
				<td>
					<ul class='list-unstyled'>
						<li><label class='checkbox'>
							<input type='checkbox' id='bt-HYB-checkbox' class='bond-checkbox' checked>HYB
						</label></li>
						<li><label class='checkbox'>
							<input type='checkbox' id='bt-POL-checkbox' class='bond-checkbox' checked>POL
						</label></li>
						<li><label class='checkbox'>
							<input type='checkbox' id='bt-DSB-checkbox' class='bond-checkbox' checked>DSB
						</label></li>
						<li><label class='checkbox'>
							<input type='checkbox' id='bt-PHO-checkbox' class='bond-checkbox' checked>PHO
						</label></li>
						<li><label class='checkbox'>
							<input type='checkbox' id='bt-UNK-checkbox' class='bond-checkbox' checked>UNK
						</label></li>
					</ul>
				</td>
			</tr>
		</table>
        <script type="text/javascript">
            var w = 500
            var h = 500
            svg = d3.select("#interface-canvas")
                .attr('width',w)
                .attr('height',h);

            var interface_residues = [
                    { id : 1, chain : "A", order : 4},
                    { id : 2, chain : "A", order : 2},
                    { id : 3, chain : "A", order : 3},
                    { id : 4, chain : "A", order : 1},
                    { id : 5, chain : "A", order : 5},
                    { id : 6, chain : "B", order : 2},
                    { id : 7, chain : "B", order : 3},
                    { id : 8, chain : "B", order : 4},
                    { id : 9, chain : "B", order : 5},
                    { id : 10, chain : "B", order : 1}
            ]
            var chainALength = 0
            var chainBLength = 0
            for (var i = 0; i < interface_residues.length; i++){
                var chain = interface_residues[i].chain;
                if (chain=="A"){
                    chainALength += 1;
                } else {
                    chainBLength += 1;
                }
            };
            var edges = [
                { coords : [1,6], type : 'HYB'},
                { coords : [1,7], type : 'POL'},
                { coords : [1,8], type : 'POL'},
                { coords : [2,6], type : 'DSB'},
                { coords : [4,9], type : 'PHO'}, 
                { coords : [5,10], type : 'UNK'},
                { coords : [3,10], type : 'PHO'}
            ]
            var bondColor = function(d){
                var bondColors = { 
                    'HYB' : 'blue',
                    'POL' : 'lightskyblue',
                    'DSB' :  'yellow',
                    'PHO' : 'red',
                    'UNK' : 'grey'
                };
                return bondColors[d.type];
            };
            var barPadding = 1
            var yScale = d3.scale.ordinal()
                        .domain(d3.range(1,chainALength+1))
                        .rangeRoundBands([0, h], 0.05);
            // interface residues
            svg.selectAll('rect')
                .data(interface_residues)
                .enter()
                .append('rect')
                .attr({
                    x : function(d) {
                        var chain = d.chain;
                        if (chain=="A"){
                            return 100;
                        } else {
                            return 300;
                        }
                    },
                    y : function(d){
                        return yScale(d.order);
                    },
                    rx : 20,
                    ry : 20,
                    width : 100,
                    height : yScale.rangeBand(),
                    id : function(d) {
                        return "ir"+d.id;
                    }
                    })
                .on('mouseover', function(d){
                    var residueClass = "ir"+d.id;
                    d3.selectAll('line.edges')
                        .filter(function(){
                            if (this.classList.contains(residueClass) == false){
                            return this
                            }
                        })
                        .filter(function(){
                    		if (d3.select(this).attr('active')=='true'){
                    			return this
                    		}
                    	})
                        .transition()
                        .attr({
                            'opacity' : 0.2,
                            'stroke-width' : 2
                        });
                    d3.selectAll('line.'+residueClass)
                    	.filter(function(){
                    		if (d3.select(this).attr('active')=='true'){
                    			return this
                    		}
                    	})
                    	.transition()
                        .attr({
                            'stroke-width' : 4,
                            'opacity' : 1.0
                        });
                })
                .on('mouseout', function(d){
                    d3.selectAll('line.edges')
                    	.filter(function(){
                    		if (d3.select(this).attr('active')=='true'){
                    			return this
                    		}
                    	})
                        .transition()
                        .attr({
                            'opacity' : 1.0,
                            'stroke-width' : 2
                        });
                });
            svg.selectAll('text')
                .data(interface_residues)
                .enter()
                .append('text')
                .text(function(d){
                    return "ID: "+d.id;
                })
                .attr({
                    x : function(d) {
                        var chain = d.chain;
                        if (chain=="A"){
                            return 150;
                        } else {
                            return 350;
                        }
                    },
                    y : function(d,i){return yScale(d.order) + yScale.rangeBand()/2;},
                    'font-family' : 'sans-serif',
                    'font-size' : '11px',
                    'fill' : 'white',
                    'text-anchor' : 'middle',
                    'pointer-events' : 'none'
                    });
            svg.selectAll('line')
                .data(edges)
                .enter()
                .append('line')
                .attr({
                    x1 : 200,
                    x2 : 300,
                    y1 : function(d) {
                        var leftIr = d3.select('#ir'+d.coords[0]);
                        y = parseInt(leftIr.attr('y'));
                        height = parseInt(leftIr.attr('height'));
                        return y + height/2;
                    },
                    y2 :  function(d) {
                        var rightIr = d3.select('#ir'+d.coords[1]);
                        y = parseInt(rightIr.attr('y'));
                        height = parseInt(rightIr.attr('height'));
                        return y + height/2;
                    },
                    'stroke' : function(d) {
                        return bondColor(d)
                    },
                    'stroke-width' : '2',
                    'stroke-linecap' : 'round',
                    'shape-rendering' : 'crisp-edges',
                    'class' : function(d){
                        return 'edges '+'ir'+d.coords[0]+' '+'ir'+d.coords[1]+' bt-'+d.type
                    },
                    'active' : true
                });

			var returnActiveCheckboxs = function(){
				var activeCheckboxs = []
				d3.selectAll('input.bond-checkbox')
					.each(function(){
						if (d3.select(this).property('checked')==true){
							activeCheckboxs.append(this.id)
						}
					});
				return activeCheckboxs
			};

            d3.select('#bt-HYB-checkbox')
                .on('click',function(){
                    var bondClass = 'bt-HYB';
                    if (d3.select(this).property('checked')==false){
                    d3.selectAll('line.'+bondClass)
                        .transition()
                        .attr({
                            'opacity' : 0.0,
                            'active'  : false
                        });
                    } else {
                        d3.selectAll('line.'+bondClass)
                            .transition()
                            .attr({
                                'opacity' : 1.0,
                                'active'  : true
                            });
                    }
                });
            d3.select('#bt-POL-checkbox')
                .on('click',function(){
                    var bondClass = 'bt-POL';
                    if (d3.select(this).property('checked')==false){
                    d3.selectAll('line.'+bondClass)
                        .transition()
                        .attr({
                            'opacity' : 0.0,
                            'active'  : false
                        });
                    } else {
                        d3.selectAll('line.'+bondClass)
                            .transition()
                            .attr({
                                'opacity' : 1.0,
                                'active'  : true
                            });
                    }
                });

        </script>
	</div>

{% endblock %}


