{% extends "base.html" %}
{% load staticfiles %}
{% block javascript %}
<script type="text/javascript" src="{{BASE_URL}}{% static 'jsmol/jsmol/JSmol.min.js'%}"></script> 
{% endblock %}


{% block content %}
<h1>Interface for ID: {{interaction.id}} </h1>
<div class = "well">
	
	<h3>Interation Details:</h3>
		<table>
			<tr>
				<td><strong>Type</strong></td>
				<td><strong>Chain 1</strong></td>
				<td><strong>Chain 2</strong></td>
				<td><strong>Filename</strong></td>
			</tr>
			<tr>
				<td>{{interaction.inter_type.inter_type}}</td>
				<td>{{interaction.chain_1.id}}</td>
				<td>{{interaction.chain_2.id}}</td>
				<td>{{interaction.filename}}</td>
			</tr>
		</table>
</div>

<p>Coming soon</p>

{% endblock %}


