{% extends "base_small.html" %}
{% block pagetitle %}Interaction: {{interaction.chain_1.uniprot.acc_number}} - {{interaction.chain_2.uniprot.acc_number}}{% endblock %}

{% load staticfiles %}
{% block javascript %}
<script type="text/javascript" src="{{BASE_URL}}{% static 'jsmol/jsmol/JSmol.min.js'%}"></script> 
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}

{% block css %}


.scroll{
	height:360px;
	overflow:auto;
	overflow-x:hidden;
}

label{font-weight:normal !important}

{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Interaction: {{interaction.chain_1.uniprot.acc_number}} - {{interaction.chain_2.uniprot.acc_number}} <small>(ID: {{interaction.id}})</small></h1>
</div>

<div class="content">
	<h3>Interaction summary:</h3>
	<ul>
		<li><strong>Type: </strong>{{interaction.inter_type.inter_type}}</li>
		<li><strong><code style="background-color: #9999FF; color:black;">Partner 1:</code></strong> {{interaction.chain_1.uniprot.acc_number}} | {{interaction.chain_1.uniprot.name}} <span class="text-muted">(Chain ID: {{interaction.chain_1.id}})</span></li>
		<li><strong><code style="background-color: #99FF99; color:black;">Partner 2:</code></strong> {{interaction.chain_2.uniprot.acc_number}} | {{interaction.chain_2.uniprot.name}} <span class="text-muted">(Chain ID: {{interaction.chain_2.id}})</span></li>
		<li><strong>Filename: </strong>{{interaction.filename}}</li>
	</ul>
</div>

<div class="content">
	<h3>Interaction structure:</h3>

	<table class="table table-condensed">
		<tr>
			<td height=450 width=400>
					<script type="text/javascript">
						var Info = {
				  color: "#FFFFFF",  // white background (note this changes legacy default which was black)
				  height: 450,      // pixels (but it may be in percent)
				  width: 400,
				  use: "HTML5",         // "HTML5" or "Java" (case-insensitive)
				  j2sPath: "{{ BASE_URL }}/static/jsmol/jsmol/j2s",           // only used in the HTML5 modality
				  defaultModel: "",
				  script: null,
				  src: null,
				  readyFunction: null,
				  addSelectionOptions: false,
				  debug: false,
				  disableInitialConsole: true
				};	

					Jmol.getApplet("myJmol", Info);
					reset_structure();

					// Mapping interface residues onto structure
					function color_interface_residues(color1,color2,display){
					{% for interface_res in interaction.interface_residues.all %}
						{% if interface_res.chain_residue.chain == interaction.chain_1 %}
							Jmol.script(myJmol, 'select {{interface_res.get_position}}:A; '+display);
						{% elif interface_res.chain_residue.chain == interaction.chain_2 %}
							Jmol.script(myJmol, 'select {{interface_res.get_position}}:B; '+display);
						{% else %}
						alert("Chain mapping failed");
						{% endif %}
					{% endfor %}
					};

					function reset_structure(){
						Jmol.script(myJmol,'zap; set highResolution ON; load {{BASE_URL}}{% static interaction.filename %}; wireframe off; spacefill off; select protein; cartoons on; color chain;');
					};
					function show_partner(partner){
						Jmol.script(myJmol, 'hide hidden and not :'+partner+';');
					};
					function hide_partner(partner){
						Jmol.script(myJmol, 'hide hidden or :'+partner+';');
					};

					function map_this_snv(chain_name,position,col){
						Jmol.script(myJmol,'select '+position+':'+chain_name+'; color '+col+';');
					};

					function color_range(start,end,color,partner){ //for PFAM Mapping
						Jmol.script(myJmol, 'select '+start+'-'+end+':'+partner+'; color '+color+';')
					};

					function checkallsnvs(){//This function check or uncheck all snvs
						if ($('#snvs-btn').is(":checked")){		 
							$('input[name=singlesnv]').prop("checked", true);
						}else{
							$('input[name=singlesnv]').prop("checked", false);
						}
						$("input[name=singlesnv]").each(function () {
							colorsnv($(this).attr("id"));
						});
					};

					function checkallpfams(){//This function check or uncheck all pfam domains
						if ($('#pfam-domains-btn').is(":checked")){
							$('input[name=singlepfam]').prop("checked", true);

						}else{
							$('input[name=singlepfam]').prop("checked", false);
							
						}
						$("input[name=singlepfam]").each(function () {
							colorpfam($(this).attr("id"));
						});

						//---------------------- Paint PFAM under snvs only! *, Remove this blog to switch to normal painting mode
						$("input[name=singlesnv]").each(function () { 
							colorsnv($(this).attr("id"));
						});		
						//----------------------				
					};

					
					function map_contacts(color1, color2,color3, color4, color5){
						Jmol.script(myJmol, 'set measurementLabels FALSE;');
						
						{% for item in contacts.items %}
							{% if item.0 == "DSB" %}
								Jmol.script(myJmol, 'color measures \"'+color1+'\";');
								{% for contact in item.1 %}
									Jmol.script(myJmol, 'measure (({{contact.jsmol_str_1}})) (({{contact.jsmol_str_2}}));');
								{% endfor %}
							
							{% elif item.0 == "HYB" %}
								Jmol.script(myJmol, 'color measures \"'+color2+'\";');
								{% for contact in item.1 %}
									Jmol.script(myJmol, 'measure (({{contact.jsmol_str_1}})) (({{contact.jsmol_str_2}}));');
								{% endfor %}

							{% elif item.0 == "POL" %}
								Jmol.script(myJmol, 'color measures \"'+color3+'\";');
								{% for contact in item.1 %}
									Jmol.script(myJmol, 'measure (({{contact.jsmol_str_1}})) (({{contact.jsmol_str_2}}));');
								{% endfor %}

							{% elif item.0 == "PHO" %}
								Jmol.script(myJmol, 'color measures \"'+color4+'\";');
								{% for contact in item.1 %}
									Jmol.script(myJmol, 'measure (({{contact.jsmol_str_1}})) (({{contact.jsmol_str_2}}));');
								{% endfor %}

							{% elif item.0 == "UNK" %}
								Jmol.script(myJmol, 'color measures \"'+color5+'\";');
								{% for contact in item.1 %}
									Jmol.script(myJmol, 'measure (({{contact.jsmol_str_1}})) (({{contact.jsmol_str_2}}));');
								{% endfor %}
							{% endif %}

						{% endfor %}
					}
					
					function colorsnv(snvid){//This function marks/unmarks a snv with various color
						var snvpos = parseInt($('#'+snvid).attr("data-pos"));
						var chain = $('#'+snvid).attr("data-chain");
						var snvcol = $('#'+snvid).attr("data-col");
						var success = false;

						if ($('#'+snvid).is(":checked")){
							map_this_snv(chain,snvpos,snvcol);
						}else{
							//check if PFAM is on
							$("input[name=singlepfam][data-chain="+chain+"]").each(function () {
								if($(this).attr("data-start") <= snvpos && $(this).attr("data-end") >= snvpos){
									if($(this).is(":checked")){
										//alert('affecting pfam '+$(this).attr('id')+'<'+$(this).attr("data-start")+' - '+$(this).attr("data-end")+'>');
										map_this_snv(chain,snvpos,$(this).attr("data-color")); //use pfam color
										success=true;
									}
								}
							});
							if(success==false){map_this_snv(chain,snvpos,"chain");} //use pfam color
						}
					}

					function colorpfam(pfamid){//This function marks/unmarks a pfam domain with various color
						var start =  $('#'+pfamid).attr("data-start");
						var end = $('#'+pfamid).attr("data-end");
						var color = $('#'+pfamid).attr("data-color");
						var chain = $('#'+pfamid).attr("data-chain");

						if ($('#'+pfamid).is(":checked")){
							color_range(start,end,color,chain);

						}else{
							color_range(start,end,"chain",chain);
						}
							//map snv back on pfam range
							$("input[name=singlesnv][data-chain="+chain+"]").each(function () {
								//alert('check snv'+$(this).attr("id"));
								if($(this).attr("data-pos")>=parseInt(start) && $(this).attr("data-pos")<=parseInt(end) && $(this).is(":checked")){
										//alert('found');
										map_this_snv(chain,$(this).attr("data-pos"),$(this).attr("data-col")); //use snv color
									}
							});
					}

					$(document).ready(function(){
						var dpmode = 'cartoons';

						// Bootstrap button calls

						//Show & reset interface residue
						$('#ir-btn').change(function(){
							if ($('#ir-btn').is(":checked")){
								color_interface_residues("pink","purple","spacefill; cartoons off; wireframe off;");
							}else{
								color_interface_residues("pink","purple","spacefill off; "+dpmode+";");
							}
						});

						//change display mode
                        $("input[name=displaymode]:radio").change(function () {
                            if ($(this).attr('id') == 'mode1') {
								dpmode = 'cartoons'; 
								Jmol.script(myJmol, 'select :A, :B; wireframe off; cartoons;');
							}
							else {
								dpmode = 'wireframe'; 
								Jmol.script(myJmol, 'select :A, :B; wireframe; cartoons off;');
							}

						});


						//Map All SNVs
						$('#snvs-btn').change(function(){
							checkallsnvs();
						});


						//Listeners for SNVs Mapping
						$('input[name=singlesnv]').change(function(){
							colorsnv($(this).attr("id"));
						});


						//Map All pfams
						$('#pfam-domains-btn').change(function(){
							checkallpfams();
						});

						//Listeners for the pfam domains mapping here//
						$('input[name=singlepfam]').change(function(){
							colorpfam($(this).attr("id"));
						});

						//Map all contacts
						$('#contacts-btn').click(function(){map_contacts("red", "blue", "green", "purple", "yellow")});

						//Listeners for the Contacts mapping here//

						//Reset Everything
						$('#reset-btn').click(function(){
							reset_structure();
							$('#mode1').prop('checked',true);
							$("#showhide1-btn").prop("checked", true);
							$("#showhide2-btn").prop("checked", true);
							$("#ir-btn").prop("checked", false);
							$("#snvs-btn").prop("checked", false);
							$("#pfam-domains-btn").prop("checked", false);
							checkallpfams();
							checkallsnvs();
						});
						//Show & hide Partner1
						$('#showhide1-btn').change(function(){
							if ($('#showhide1-btn').is(":checked")){
								show_partner('A');
								//$('#showhide1-btn').text('Hide Partner 1');
							} else {
								hide_partner("A");
								//$('#showhide1-btn').text('Show Partner 1');
							}});
						//Show & hide Partner2
						$('#showhide2-btn').change(function(){
							if ($('#showhide2-btn').is(":checked")){
								show_partner('B');
								//$('#showhide2-btn').text('Hide Partner 2');
							} else {
								hide_partner("B");
								//$('#showhide2-btn').text('Show Partner 2');
						}});
					});
					
					</script>
			</td>
			
				 
			<td>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
				  <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
				  <li><a href="#snvs_mark" data-toggle="tab">SNV</a></li>
				  <li><a href="#PFAM_mark" data-toggle="tab">PFAM</a></li>
				  <li><a href="#contact_mark" data-toggle="tab">Contact</a></li>

				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="basic">

						<div class="panel panel-default">
							<div class="panel-heading">Basic Display Configuration</div>
							<div class="panel-body scroll">

								<!--general buttons-->
								<!--<div class="btn-group btn-group-vertical">
									<!--<a role="button" id="ir-btn" class="btn btn-default">Show Interface</a>-->
									<!--<a role="button" id="showhide1-btn" class="btn btn-default" data-toggle="button">Hide Partner 1</a>-->
									<!--<a role="button" id="showhide2-btn" class="btn btn-default" data-toggle="button">Hide Partner 2</a>-->
								<!--</div>-->
								<h5><strong>Mode</strong></h5>
								<div id = "modebtn">
								  <label>
									<input type="radio" name="displaymode" id="mode1" checked> Cartoons
								  </label>
								  <label >
									<input type="radio" name="displaymode" id="mode2"> Wireframe
								  </label>
								</div>


								<h5><strong>Display</strong></h5>
								<label class="checkbox">
								<input type='checkbox' id="ir-btn" > <code style="background-color: #CC99FF; color:white;"><strong>I</strong></code> Interface residues
								</label>
								<label class="checkbox">
								  <input type='checkbox' id="showhide1-btn" style="vertical-align:middle;" checked> <strong><code style="background-color: #9999FF; color:white;">1</code></strong> Partner 1
								</label>
								<label class="checkbox">
								  <input type='checkbox' id="showhide2-btn" style="vertical-align:middle;" checked> <strong><code style="background-color: #99FF99; color:white;">2</code></strong> Partner 2
								</label>

								<p class = "text-center"><a role="button" id="reset-btn" class="btn btn-default">Reset Everything</a></p>

							</div>
						</div>			
					</div>

				  	<div class="tab-pane" id="snvs_mark">

						<div class="panel panel-default">
							<div class="panel-heading">SNVs Configuration</div>
							<div class="panel-body scroll">

								<!-- ################ SNV LIST ##########################-->	
								<div>
									{% if sortedsnvdict1 or sortedsnvdict2 %}
									<label class="checkbox">
									  <input type='checkbox' id="snvs-btn" style="vertical-align:middle;"> Map/Unmap all SNVs
									</label>
									{% endif %}
									<p><strong>Map partner 1 SNV</strong></p>	
									<ul class="list-unstyled">
									{% for item in sortedsnvdict1 %}
										<li><label class="checkbox">
											<input type='checkbox' data-chain = "A" data-pos="{{item.1}}" data-col="{{item.2}}" name = "singlesnv" id="{{item.0}}-A-btn" style="vertical-align:middle;"><code style="background-color: {{item.2}}; color:white;"><strong>{{item.3}}</strong></code> {{item.0}} (#{{item.1}})
										</label></li>
									{% empty %}
										<li class="text-muted">No SNVs in chain 1</li>
									{% endfor %}
									</ul>
									<p><strong>Map partner 2 SNV</strong></p>
									<ul class="list-unstyled">
									{% for item in sortedsnvdict2 %}
										<li><label class="checkbox">
											<input type='checkbox' data-chain = "B" data-pos="{{item.1}}" data-col="{{item.2}}" name = "singlesnv" id="{{item.0}}-B-btn" style="vertical-align:middle;"><code style="background-color: {{item.2}}; color:white;"><strong>{{item.3}}</strong></code> {{item.0}} (#{{item.1}})
										</label></li>
									{% empty %}
										<li class="text-muted">No SNVs in chain 2</li>
									{% endfor %}
									</ul>
									<p class = "text-muted"># position relating to PDB file, not Uniprot sequence</p>
								</div>



							</div>
						</div><!--End panel-->
					</div><!-- END TAB-->

				  	<div class="tab-pane" id="PFAM_mark">
						<div class="panel panel-default">
							<div class="panel-heading">PFAM Display Configuration</div>
							<div class="panel-body scroll">
								<!-- PFAM Buttons-->
								<!-- ################ PFAM LIST ##########################-->	

									{% if chain1_pfam_positions or chain2_pfam_positions %}
									<label class="checkbox">
									  <input type='checkbox' id="pfam-domains-btn" style="vertical-align:middle;"> Map/Unmap all Pfam domains
									</label>
									{% endif %}

									<p><strong>Map partner 1 domain</strong></p>
									<ul class="list-unstyled">
									{% for mapping,positions in chain1_pfam_positions.items %}
										<li><label class="checkbox">
											<input type='checkbox' data-start ="{{positions.0}}"  data-end="{{positions.1}}" data-color="{{mapping.hmm.get_rgbcolor}}" data-chain="A" name = "singlepfam" id="{{mapping.id}}-A-btn" style="vertical-align:middle;"><code style="background-color: {{mapping.hmm.get_color}}; color:white;"><strong>{{mapping.hmm.get_short_type}}</strong></code> {{mapping.hmm.acc}} ({{positions.0}}-{{positions.1}})
										</label></li>
									{% empty %}
										<li class="text-muted">No Pfam domains in partner 1</li>
									{% endfor %}
									</ul>
									<p><strong>Map partner 2 domain</strong></p>
									<ul class="list-unstyled">
									{% for mapping,positions in chain2_pfam_positions.items %}
										<li><label class="checkbox">
											<input type='checkbox' data-start ="{{positions.0}}" data-end="{{positions.1}}" data-color="{{mapping.hmm.get_rgbcolor}}" data-chain="B"name = "singlepfam" id="{{mapping.id}}-B-btn" style="vertical-align:middle;"><code style="background-color: {{mapping.hmm.get_color}}; color:white;"><strong>{{mapping.hmm.get_short_type}}</strong></code> {{mapping.hmm.acc}} ({{positions.0}}-{{positions.1}})
										</label></li>
									{% empty %}
										<li class="text-muted">No Pfam domains in partner 2</li>
									{% endfor %}
									</ul>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="contact_mark">
						<div class="panel panel-default">
							<div class="panel-heading">Contacts between Interface Residues</div>
							<div class="panel-body scroll">
								<!-- PFAM Buttons-->
								<!-- ################ Contact ##########################-->	

						<button type="button" class="btn btn-danger" id="contacts-btn">Map contacts</button>
									<p><strong>Mark Contacts</strong>[Under Constructions]</p>
									<ul class="list-unstyled">
										<li><label class="checkbox">
											<input type='checkbox' data-color="black" name = "contacts-all" id="ALL-btn" style="vertical-align:middle;"><code style="background-color: black; color:white;"><strong>C</strong></code> All Bonds
										</label></li>
										<li><label class="checkbox">
											<input type='checkbox' data-color="red" name = "contacts" id="DSB-btn" style="vertical-align:middle;"><code style="background-color: red; color:white;"><strong>C</strong></code> [DSB] Disulfide Bond
										</label></li>
										<li><label class="checkbox">
											<input type='checkbox' data-color="blue" name = "contacts" id="HYB-btn" style="vertical-align:middle;"><code style="background-color: blue; color:white;"><strong>C</strong></code> [HYB] Hydrogen Bond
										</label></li>
										<li><label class="checkbox">
											<input type='checkbox' data-color="green" name = "contacts" id="POL-btn" style="vertical-align:middle;"><code style="background-color: green; color:white;"><strong>C</strong></code> [POL] Polar Interaction
										</label></li>
										<li><label class="checkbox">
											<input type='checkbox' data-color="yellow" name = "contacts" id="PHO-btn" style="vertical-align:middle;"><code style="background-color: yellow; color:white;"><strong>C</strong></code> [PHO] Hydrophobic Interaction
										</label></li>
										<li><label class="checkbox">
											<input type='checkbox' data-color="purple" name = "contacts" id="UNK-btn" style="vertical-align:middle;"><code style="background-color: purple; color:white;"><strong>C</strong></code> [UNK] Unknown Interaction
										</label></li>
									</ul>
							</div>
						</div>
					</div>
				</div><!-- END Tab Contend-->	
			</td>
		</tr>
	</table>
<div>
</div>


{% endblock %}


