{% extends "base.html" %}
{% block pagetitle %}SNV FT ID: {{ snv.ft_id }}{% endblock %}
{% block css%}
p.wrap
{
word-wrap:break-word;
}
{% endblock %}


{% block content %}
<!-- #######################################    INFO   ############################################################################-->
<h1>SNV FT ID: {{ snv.ft_id }}</h1>
<div class = "well">
    <ul>
    	{% if snv.uniprot_residue %}
    		<li><strong>Related protein: </strong><a href="{% url 'uniprot-view' pk=snv.uniprot %}" target="_blank">{{snv.uniprot}}</a></li>
    	{% else %}
    		<li><strong>Related protein: </strong><a class="text-danger">{{snv.uniprot}}</a> <i>(Proteins with names in red cannot be displayed)</i></li>
    	{% endif %}
		<li><strong>Position: </strong>{{snv.uniprot_residue.position}}</li>
		<li><strong>Mutation: </strong>{{snv.wt_aa.three_letter_code}} ({{snv.wt_aa.one_letter_code}}) <span class="glyphicon glyphicon-arrow-right"></span> {{snv.mutant_aa.three_letter_code}} ({{snv.mutant_aa.one_letter_code}})</li>
    	<li><strong>Type: </strong><code style="background-color:{{snv.get_color}}; color:white;">{{snv.type.type}}</code></li>

    	{% if snv.db_snp %}
    		<li><strong>dbSNP ID: </strong>{{snv.db_snp}} <a href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{snv.db_snp}}" target="_blank">(link)</a></li>
    	{% else %}
    		<li><a class="text-danger">This SNV has no associated dbSNP id</a></li>
    	{% endif %}
    </ul>

</div>



<!-- #######################################    DISORDERS   ############################################################################-->
<h3>Disorders associated to this SNV:</h3>
{% if snv.type.type == "Disease" %}
	<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Disorder name</th>
			<th>OMIM code</th>
		</tr>
	</thead>
	<tbody>
		{% for item in snv.diseases.all %}
	
		<tr>
			<td><a href="{% url 'disease-view' pk=item.mim %}" target="_blank">{{item.name}}</a></td>
			<td>{{item.mim}} <a href="http://omim.org/entry/{{item.mim}}" target="_blank">(link)</a></td>
		</tr>

		{% endfor %}
	</tbody>
	</table>
{% else %}
<p>No disorders found to be related to this SNV.</p>

{% endif %}

<!-- #######################################    MAPPING SNVS   ############################################################################-->
<h3>Mapping mutated SNV to the sequence</h3>
<div class = "well">
{% if snv.uniprot_residue %}
<p style ="word-wrap:break-word; font-family: 'Source Code Pro', sans-serif; ">{{marked_seq|safe}}</p>
{% else %}
<p>Sorry, No sequence data available in our database...</p>
{% endif %}
</div>

<!-- #######################################    OTHER SNVS   ############################################################################-->
<h3>Other SNVs sharing the same position</h3>
{% if sim_snv %}
		<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>FT id</th>
				<th>Type</th>
				<th>Pos</th>
				<th>Mutation</th>
				<th>dbSNP id</th>
				<th>Directly associated disorder</th>
				<th>OMIM code</th>
			</tr>
		</thead>				
		<tbody>		
			{% for item in sim_snv %}
			<tr>
				<td><a href="{% url 'snv-view' pk=item.ft_id %}" target='_blank'>{{item.ft_id}}</a></td>
				<td>{{item.type.type}}</td>
				<td>{{item.uniprot_position}}</td>
				<td>{{item.wt_aa.one_letter_code}} <span class="glyphicon glyphicon-arrow-right"></span> {{item.mutant_aa.one_letter_code}}</td>
				{% if item.db_snp %}
					<td><span title="External link to dbSNP"><a href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{item.db_snp}}" target='_blank'>{{item.db_snp}}</a></span></td>
				{% else %}
					<td></td>
				{% endif %}
				{% if item.diseases.all %}
					<td><table>
						{% for element in item.diseases.all %}
						<tr><td><a href="{% url 'disease-view' pk=element.mim %}" target='_blank'>{{element.name}}</a></td></tr>
						{% endfor %}
					</table></td>
					<td><table>
						{% for element in item.diseases.all %}
						<tr><td><span title="External link to OMIM"><a href="http://omim.org/entry/{{element.mim}}" target='_blank'>{{element.mim}}</a></span></td></tr>
						{% endfor %}
					</table></td>
					
				{% else %}
					<td></td>
					<td></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
		</table>
{% else %}
<p>No other SNV sharing the same position found</p>
{% endif %}

{% endblock %}

{% block extraplugin %}
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'top'
});
$('[data-toggle="popover"]').popover({
    trigger: 'hover',
        'placement': 'top'
});
</script>
{% endblock %}
