{% extends "base.html" %}
{% block pagetitle %}SNV FT ID: {{ snv.ft_id }}{% endblock %}
{% block css%}
p.wrap
{
word-wrap:break-word;
}
{% endblock %}

{% block title %}SNV FT ID: {{ snv.ft_id }}{% endblock %}
{% block content %}
<div class = "well">
    <ul>
    	{% if snv.uniprot_residue.all %}
    		<li><strong>Related protein: </strong><a href="{% url 'uniprot-view' pk=snv.uniprot %}">{{snv.uniprot}}</a></li>
    	{% else %}
    		<li><strong>Related protein: </strong><a class="text-danger">{{snv.uniprot}}</a> <i>(Proteins with names in red cannot be displayed)</i></li>
    	{% endif %}
		<li><strong>Position:</strong>{{snv.uniprot_position}}</li>
		<li><strong>Mutation:</strong>{{snv.wt_aa.three_letter_code}} ({{snv.wt_aa.one_letter_code}}) <span class="glyphicon glyphicon-arrow-right"></span> {{snv.mutant_aa.three_letter_code}} ({{snv.mutant_aa.one_letter_code}})</li>
    	<li><strong>Related gene: </strong>{{snv.gene_code}} <a href="https://www.ncbi.nlm.nih.gov/gene/{{snv.get_genbank_id}}">(link)</a></li>
    	<li><strong>Type: </strong>{{snv.type.type}}</li>

    	{% if snv.db_snp %}
    		<li><strong>dbSNP ID: </strong>{{snv.db_snp}} <a href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{snv.db_snp}}">(link)</a></li>
    	{% else %}
    		<li><a class="text-danger">This SNV has no associated dbSNP id</a></li>
    	{% endif %}
    </ul>

</div>



<h3>Disorders associated to this SNV:</h3>
{% if snv.type.type == "Disease" %}
<div>	
	<table class="table table-condensed table-hover">
		<tr>
			<td><strong>Disorder name</strong></td>
			<td><strong>OMIM code</strong></td>
		</tr>
	
		{% for item in snv.diseases.all %}

		<tr>
			<td><a href="{% url 'disease-view' pk=item.mim %}">{{item.name}}</a></td>
			<td>{{item.mim}} <a href="http://omim.org/entry/{{item.mim}}">(link)</a></td>
		</tr>

		{% endfor %}
	</table>

		
{% else %}
<p>No disorders found to be related to this SNV.</p>

{% endif %}


<h3>Mapping mutated SNV to the sequence</h3>
<div class = "well">
{% if snv.uniprot_residue.all %}
<p style ="word-wrap:break-word; font-family: 'Source Code Pro', sans-serif; ">{{marked_seq|safe}}</p>
{% else %}
<p>Sorry, No sequence data available in our database...</p>
{% endif %}
</div>

<h3>Other SNVs sharing the same position</h3>
{% if sim_snv %}
		<table class="table table-condensed table-hover">
			<tr>
				<th>FT id</th>
				<th>Type</th>
				<th>Pos</th>
				<th>Mutation</th>
				<th>dbSNP id</th>
				<th>Directly associated disorder</th>
				<th>OMIM code</th>
				
				
			{% for item in sim_snv %}
			<tr>
				<td><a href="{% url 'snv-view' pk=item.ft_id %}" target='_blank'>{{item.ft_id}}</td>
				<td>{{item.type.type}}</td>
				<td>{{item.uniprot_position}}</td>
				<td>{{item.wt_aa.one_letter_code}} <span class="glyphicon glyphicon-arrow-right"></span> {{item.mutant_aa.one_letter_code}}</td>
				{% if item.db_snp %}
					<td><span title="External link to dbSNP"><a href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{item.db_snp}}" target='_blank'>{{item.db_snp}}</a></span></td>
				{% else %}
					<td></td>
				{% endif %}
				{% if item.diseases.all %}
					<td><table>
						{% for element in item.diseases.all %}
						<tr><td><a href="{% url 'disease-view' pk=element.mim %}" target='_blank'>{{element.name}}</a></td></tr>
						{% endfor %}
					</table></td>
					<td><table>
						{% for element in item.diseases.all %}
						<tr><td><span title="External link to OMIM"><a href="http://omim.org/entry/{{element.mim}}" target='_blank'>{{element.mim}}</span></a></td></tr>
						{% endfor %}
					</table></td>
					
				{% else %}
					<td></td>
					<td></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
{% else %}
<p>No other SNV sharing the same position found</p>
{% endif %}
{% endblock %}
{% block extraplugin %}
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'top'
});
$('[data-toggle="popover"]').popover({
    trigger: 'hover',
        'placement': 'top'
});


</script>
{% endblock %}
