{% extends 'base.html' %}
{% block header %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Uniprot List</h1>
        <p>SNV is Single Nucleotide Variation (not to be confused with SNP, Single Nucleotide Polymorphism)<br>
        This is a template for a simple  informational website. It includes a large callout called a jumbotron and three supporting pieces of content. </p>
        <p><a class="btn btn-primary btn-lg" role="button">Start search&raquo;</a></p>
      </div>
    </div>

{% endblock %}    
<!-- Contents -->


{% block content %}
<h1>Uniprot</h1>
<p>{{ object_list.count }} items found</p>
<ul class = "list-group">
  {% for item in object_list %}
  
    <li class="list-group-item" > ID: <a href="{% url 'snv:uniprot-view' pk=item.acc_number %}">{{ item.acc_number  }} </a> (<a href="#">edit</a>)</li>
  {% endfor %}
</ul>

<a href="#">Add a New Uniprot</a>
{% endblock %}
