{% extends "base.html" %}

{% block title %}uniprot ID: {{uniprot.acc_number}} {% endblock %}
{% block content %}

<div class = "well">
	
	<h3>Chains for the protein {{uniprot.acc_number}}:</h3>
		<ul>
			{% for item in uniprot.chains.all %}
				<li>{{item.id}}</li>
			{% empty %}
				<p>The protein has no associated chains</p>
			{% endfor %}
		</ul>

</div>


<div class = "well">
	<h3>Interacting partners of the protein {{uniprot.acc_number}}:</h3>
		<ul>
			{% for item in uniprot.get_partners %}
				<li>{{item.acc_number}}</li>
			{% endfor %}

		</ul>

</div>

<div class = "well">
	<h3>Interaction entries for the protein {{uniprot.acc_number}}:</h3>
	<ul>
			{% for item in uniprot.get_interactions %}
				<li>{{item.id}}</li>
			{% endfor %}
		</ul>
</div>

<div class = "well">
    <h3>Sequence :</h3>
    <p>{{ uniprot.sequence }}</p>
</div>


<a href="#">Back to Results</a>
{% endblock %}
