{% extends "base.html" %}
{% block pagetitle %}Uniprot ID: {{uniprot.acc_number}} {% endblock %}
{% block css%}
p.wrap
{
word-wrap:break-word;
}
input[type=radio] {
    display:none;
}
input[type=radio]:checked + label {
   background-image: none;
    background-color:#e7e7e7;
}
.box{
        display: none;
}

h1{ position:relative;}
h1 span{ position:absolute; top:-70px;}
h3{ position:relative; }
h3 span{ position:absolute; top:-70px;}

a.alignment:hover, visited, link, active {
    text-decoration:none
}

{% endblock %}
{% load staticfiles %}
{% block javascript %}<link href="{{ STATIC_URL }}offcanvas.css" rel="stylesheet">{% endblock %}

{% block content %}

<div class="row row-offcanvas row-offcanvas-right"> 
	<div class="col-xs-12 col-sm-9"><!-- Left Canvas-->

<!-- ################## Uniprot BASIC VIEW ##################################-->
		<h1><span id = "basic"></span>ID: {{uniprot.acc_number}} {% if uniprot.name %}[{{uniprot.name}}]{% endif %}</h1>
		<div class="row">
			<div class="col-md-4">
				{% if uniprot.img_exists %}
				<img  src= "{{BASE_URL}}{% static 'protein_previews_thumbnails' %}/{{uniprot.acc_number}}.jpeg" alt="{{uniprot.acc_number}}" class="img-thumbnail" data-target="#myModalimg" >
				<p class="text-center"><button  type="button" class="btn btn-link" data-toggle="modal" data-target="#myModalimg" data-ref= "{{BASE_URL}}{% static 'protein_previews' %}/{{uniprot.acc_number}}.png" ><span class="glyphicon glyphicon-zoom-in"></span> Enlarge</button></p>
			


				<script>
				$(document).ready(function(){
					$("button").click(function(){
						var Url = $(this).data('ref');
						$("#imgarea").html('<img src="' + Url + '" alt="description" class="img-responsive" alt="Responsive image"/>' );
					});
				});
				</script>

				<!-- Modal -->
				<div class="modal fade" id="myModalimg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>      
						<h4 class="modal-title" id="myModalLabel">ID: {{uniprot.acc_number}}</h4>
					  </div>
					  <div class="modal-body">
						<div id="imgarea"></div>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					  </div>
					</div>
				  </div>
				</div><!-- END Modal -->
				{% else %}
				<img  src= "{{BASE_URL}}{% static 'noimg.png' %}" alt="{{uniprot.acc_number}}" class="img-thumbnail">
				{% endif %}
			</div> <!-- END col -->


			<div class="col-md-8">
				<p><strong>Summary</strong></p>
				<p>Uniprot ID: {{uniprot.acc_number}} [<a data-toggle="popover" data-content="External link to Uniprot"  href="http://www.uniprot.org/uniprot/{{uniprot.acc_number}}" target='_blank' >link</a>]</p>
				{% if uniprot.gene_code %}<p>Gene Code ID: {{uniprot.gene_code}}</p> 	{% endif %}
				{% if uniprot.genbank_id %}<p>GenBank ID: {{uniprot.genbank_id}} [<a data-toggle="popover" data-content="External link to GenBank"  href="http://www.ncbi.nlm.nih.gov/protein/?term={{uniprot.genbank_id}}" target='_blank' >link</a>]</p>	{% endif %}				
				<p>{{uniprot.sequence | length}} amino acids</p>
				<p>{{uniprot.pfam_mappings.all | length}} annotations</p>
				<p>{{uniprot.chains.all | length}} chains </p>
				<p>{{interactions | length}} interactions </p>

				<p>{{snv_list|length}} SNVs </p>
				{% if snv_list %}
				<p>{{snv_statistic.1}}% Diseases, {{snv_statistic.2}}% Polymorphisms, {{snv_statistic.3}}% Unclassified</p>{% endif %}
			</div> <!-- END col -->
		  
		</div><!-- END row -->

<!-- #######################################    Display   ############################################################################-->
		<div class="panel panel-info">
		  <div class="panel-heading">
			<h3 class="panel-title">Display</h3>
		  </div>
		  <div class="panel-body">
			<label class="checkbox-inline">
			<input type='checkbox' id="chk_map" style="vertical-align:middle;" checked> Overall graphics
			</label>
			<label class="checkbox-inline">
			  <input type='checkbox' id="chk_pfam" style="vertical-align:middle;" checked> Annotations
			</label>
			<label class="checkbox-inline">
			  <input type='checkbox' id="chk_chain" style="vertical-align:middle;" checked> Chains
			</label>
			<label class="checkbox-inline">
			<input type='checkbox' id="chk_inter" style="vertical-align:middle;" checked> Interactions
			</label>
			<label class="checkbox-inline">
			<input type='checkbox' id="chk_snv" style="vertical-align:middle;" checked> SNVs
			</label>
		  </div>
		</div>


<!-- #######################################    All Graphics   ############################################################################-->
		<script>
			$("#chk_map").change(function() {
				if($(this).is(":checked"))
					$("#mapbox").fadeIn();
				else
					$("#mapbox").fadeOut();
			});

		</script>

		<div id = "mapbox">
			<div class="page-header"><h3><span id = "map"></span>Overall graphics</h3></div>
			<!-- JAVASCRIPT -->
			{{markscript|safe}}
			<!-- END JAVASCRIPT -->
			Interface Site
			<div class="btn-group">
				{% for option in marked_reg %}
				<input type="radio" name="options" id="{{option.id}}" {{option.checked}}><label class="btn btn-default btn-xs" for="{{option.id}}" data-toggle="popover" data-content="Show interface for {{option.info}}" >{{option.name}}</label>
				{% endfor %}
			</div>


			{% for option in marked_reg %}
			<div class="box {{option.id}}">
				<div class="svg-container">{{option.graphic_code|safe}}</svg></div>
				<div class="svg-container">{{annotation.graphic_code|safe}}</div>
				<script type="text/javascript">
					{{annotation.java_code|safe}}
					{{option.java_code|safe}}
				</script>				
				<div class = "well">				
					<p>You have selected <strong>{{option.info}}</strong></p><p  style ="word-wrap:break-word; font-family: 'Source Code Pro', sans-serif; ">{{option.sequence|safe}}</p>
					<input type="button" class="btn btn-primary btn-sm" value = "FASTA" onclick="window.open('http://www.uniprot.org/uniprot/{{uniprot.acc_number}}.fasta','_blank','resizable=yes')" />
				</div>				
			</div>

			{% endfor %}


			{% if snv_list %}
			<p><code style="background-color:red;color:white;">A</code> Disease, <code style="background-color:green;color:white;">A</code> Polymorphism, <code style="background-color:blue;color:white;">A</code> Unclassified, <code style="background-color:purple;color:white;">A</code> Multiple variations </p>     
			{% endif %}
		</div>

		<!-- MODAL TO DISPLAY WHEN CLICKING ON MUTIPLE MUTATION POSSITION-->
		<div style="display: none;" id="addBookDialog" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
			  <div class="modal-content">

				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				  <h4 class="modal-title" id="mySmallModalLabel">Select the SNV you would like to see</h4>
				</div>
				<div class="modal-body">
					<div id="myResults"></div>
				</div>
			  </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		


<!-- #######################################    Annotations   ############################################################################-->
		<script>
			$("#chk_pfam").change(function() {
				if($(this).is(":checked"))
					$("#pfambox").fadeIn();
				else
					$("#pfambox").fadeOut();
			});

		</script>
		<div id = "pfambox">
			<div class="page-header"><h3><span id = "pfam"></span>Annotations</h3></div>

			{% if uniprot.pfam_mappings.all %}
			<p>Found {{uniprot.pfam_mappings.all | length}} PFAM Mapping entries.</p>
			<p>{{annotation.graphic_code|safe}}</p>
			<script>
				{{annotation.java_code|safe}}
			</script>

			<div class="table-responsive">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>HMM Acc</th>
						<th>Alignment</th>
						<th>Hmm</th>
						<th>Bit Score</th>
						<th>E-Value</th>
						<th>Significant</th>
					</tr>
				</thead>
				<tbody>
				{% for item in uniprot.get_pfam_mapping %}
					<tr>
						<td><a href ="http://pfam.sanger.ac.uk/family/{{item.hmm.acc}}" target="_blank" data-toggle="popover" data-content="Name: {{item.hmm.name}}, Type: {{item.hmm.type}}, Length: {{item.hmm.length}}, Clan: {{item.hmm.clan}}" >{{item.hmm.acc}}</a></td>
						<td>{{item.alignment_start_residue.position}}-{{item.alignment_end_residue.position}}</td>
						<td>{{item.hmm_start}}-{{item.hmm_end}}</td>
						<td>{{item.bit_score}}</td>
						<td>{{item.e_value}}</td>
						<td>{% if item.significance == 1 %}Yes{% else %}No{% endif %}</td>
					</tr>
				
				{% endfor %}



				</tbody>
			</table>
			</div>
			{% else %}
				<p>No annotation found in our database.</p>
			{% endif %}
		</div>

<!-- #######################################    CHAINS   ############################################################################-->	
		<script>
			$("#chk_chain").change(function() {
				if($(this).is(":checked"))
					$("#chainbox").fadeIn();
				else
					$("#chainbox").fadeOut();
			});

		</script>

		<div id = "chainbox">
			<div class="page-header"><h3><span id = "chains"></span>Chains</h3></div>
			
			{% if uniprot.chains.all %}
				<p>Found {{uniprot.chains.all | length}} chain entries for the protein {{uniprot.acc_number}}.</p>
				<div class="table-responsive">
				<table class="table table-condensed">
					<tr>
						<td><strong>PDB id</strong></td>
						<td><strong>PDB chain</strong></td>
						<td><strong>PDB model</strong></td>
						<td><strong>Sequence identity (%)</strong></td>
						<td><strong>Coverage (%)</strong></td>
						<td><strong>Sequence start</strong></td>
						<td><strong>Sequence end</strong></td>
					</tr>
				{% for item in chains %}
					<tr>
						<td><a data-toggle="popover" data-content="External link to PDB" target="_blank" href = "http://www.rcsb.org/pdb/explore/explore.do?structureId={{item.obj.pdb_id}}">{{item.obj.pdb_id}}</a></td>
						<td>{{item.obj.pdb_chain}}</td>
						<td>{{item.obj.pdb_model}}</td>
						<td>{{item.obj.seq_identity}}</td>
						<td>{{item.obj.coverage}}</td>
						<td>{{item.obj.seq_start}}</td>
						<td>{{item.obj.seq_end}}</td>
					</tr>
					<tr>
					{% if item.alignent %}
		
						<td colspan="7">
						<div class="panel-group" id="accordion{{item.obj.id}}">
						  <div class="panel panel-default">
							<div class="panel-heading">
								<a class = "alignment" data-toggle="collapse" data-content = "Click to show/hide sequence alignment" data-parent="#accordion{{item.obj.id}}" href="#collapse{{item.obj.id}}">
								  {{item.graphic|safe}}
								</a>
							</div>
							<div id="collapse{{item.obj.id}}" class="panel-collapse collapse">
							  <div class="panel-body" style ="word-wrap:break-word; font-family: 'Source Code Pro', sans-serif; ">
								{{item.alignent|safe}}
							  </div>
							</div>
						  </div>
						</div>				
						</td>
					{% else %}
					<td colspan="7" class="text-muted text-center" >No Alignment Data Found</td>
				
					{% endif %}
					</tr>

				{% endfor %}
				</table>
				</div>
			{% else %}
				<p>The protein has no registered chain entries.</p>
			{% endif %}
		</div>

<!-- #######################################    INTERACTION   ############################################################################-->
		<script>
			$("#chk_inter").change(function() {
				if($(this).is(":checked"))
					$("#interbox").fadeIn();
				else
					$("#interbox").fadeOut();
			});

		</script>

		<div id = "interbox">
			<div class="page-header"><h3><span id = "interactions"></span>Interactions</h3></div>	
			{% if interactions %}
				<p>Found {{interactions | length}} interaction entries for the protein {{uniprot.acc_number}}.</p>
				<!-- POP UP JAVA SCRIPT--> 
				<script>
					function myFunction(url)
					{
						cuteLittleWindow = window.open(url, "_blank", "location=no,width=600,height=850");
					}
				</script> 

				<!-- END OF POP UP JAVA SCRIPT-->
				<div class="table-responsive">
				<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Partner 1</th>
						<th>Partner 2</th>
						<th>Type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in interactions %}
						<tr>
							<td>{{item.obj.id}}</td>
							<td><a href="{% url 'uniprot-view' pk=item.obj.chain_1.uniprot.acc_number %}">{{item.obj.chain_1.uniprot.acc_number}}</a></td>
							<td><a href="{% url 'uniprot-view' pk=item.obj.chain_2.uniprot.acc_number %}">{{item.obj.chain_2.uniprot.acc_number}}</a></td>
							<td>{{item.obj.inter_type.inter_type}}</td>
							<td><button class="btn btn-primary btn-sm" onclick="myFunction('{% url 'interaction-view' pk=item.obj.id %}')">View 3D Interaction</button> <button class="btn btn-primary btn-sm" onclick="myFunction('{% url 'interface-view' pk=item.obj.id %}')">View Interface</button> <button class="btn btn-success btn-sm" onclick="window.open('{{BASE_URL}}{% static item.obj.filename %}')"><span class = "glyphicon glyphicon-download"></span> Download PDB</button></td>
						</tr>
						<tr>
							<td colspan="5">
								<p>{{item.code.0|safe}}</p>
								<p>{{item.code.1|safe}}</p>
							</td>
						</tr>

					{% endfor %}
				</tbody>			
				</table>
				</div>
			{% else %}
				<p>The protein has no associated interaction entries.</p>
			{% endif %}
		</div>



<!-- #######################################    SNV DATA  ############################################################################-->
		<script>
			$("#chk_snv").change(function() {
				if($(this).is(":checked"))
					$("#snvbox").fadeIn();
				else
					$("#snvbox").fadeOut();
			});

		</script>

		<div id = "snvbox">
			<div class="page-header"><h3><span id = "snvs"></span>SNVs</h3></div>

			{% if snv_list %}
			<p>Found {{snv_list|length}} SNVs for the protein {{uniprot.acc_number}}.</p>
			<p>SNVs statistics</p>

			<div class="progress">
			  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{snv_statistic.1}}%" data-toggle="popover" data-content="Diseases">
				{{snv_statistic.1}}% Diseases
			  </div>

			  <div class="progress-bar progress-bar-success" role="progressbar"  style="width: {{snv_statistic.2}}%" data-toggle="popover" data-content="Polymorphisms">
				{{snv_statistic.2}}% Polymorphisms
			  </div>

			  <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{snv_statistic.3}}%" data-toggle="popover" data-content="Unclassified">
				{{snv_statistic.3}}% Unclassified
			  </div>
			</div><!-- /.progress -->




			<div class="table-responsive">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>FT id</th>
						<th>Type</th>
						<th>Pos</th>
						<th>Mutation</th>
						<th>dbSNP id</th>
						<th>Directly associated disorder</th>
						<th>OMIM code</th>
					</tr>
				</thead>	
				<tbody>		
					{% for item in snv_list %}
					<tr>
						<td><a href="{% url 'snv-view' pk=item.ft_id %}" target='_blank'>{{item.ft_id}}</a></td>
						<td><code style="background-color:{% if item.type.type == 'Disease' %}red{% elif item.type.type == 'Polymorphism'%} green {% else %} blue {% endif %}; color:white;">{{item.type.type}} {{item.get_color.all}}</code></td>
						<td>{{item.uniprot_residue.position}}</td>
						<td>{{item.wt_aa.one_letter_code}} <span class="glyphicon glyphicon-arrow-right"></span> {{item.mutant_aa.one_letter_code}}</td>
						{% if item.db_snp %}
						<td><a data-toggle="popover" data-content="External link to dbSNP"  href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{item.db_snp}}" target='_blank'>{{item.db_snp}}</a></td>
						{% else %}
						<td>N/A</td>
						{% endif %}
						{% if item.diseases.all %}
						<td>
							<table>
							{% for element in item.diseases.all %}
								<tr><td><a href="{% url 'disease-view' pk=element.mim %}" target='_blank'>{{element.name}}</a></td></tr>
							{% endfor %}
							</table>
						</td>
						<td>
							<table>
							{% for element in item.diseases.all %}
								<tr><td><a data-toggle="popover" data-content="External link to OMIM"  href="http://omim.org/entry/{{element.mim}}" target='_blank'>{{element.mim}}</a></td></tr>
								{% endfor %}
							</table>
						</td>
						{% else %}
						<td>N/A</td>
						<td>N/A</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>	
			</table>
			</div>
			{% else %}
			<p>The protein has no associated SNV entries.</p>
			{% endif %}
		</div><!-- /.snvbox -->
	</div><!--/ Left Canvas COL span-->
	
<!-- ################## NAVIGATION BAR ##################################-->
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-sidenav affix">
				<li><strong><span class="glyphicon glyphicon-search"></span> Quick Navigation</strong></li>
				<li><a href="#basic"><span class="glyphicon glyphicon-chevron-right"></span> Basic information</a></li>
				<li><a href="#map"><span class="glyphicon glyphicon-chevron-right"></span> Overall graphics</a></li>
				<li><a href="#pfam"><span class="glyphicon glyphicon-chevron-right"></span> Annotations {% if uniprot.pfam_mappings.all %}<span class="badge">{{uniprot.pfam_mappings.all | length}}</span>{% endif %}</a></li>
				<li><a href="#chains"><span class="glyphicon glyphicon-chevron-right"></span> Chains {% if uniprot.chains.all %}<span class="badge">{{uniprot.chains.all | length}}</span>{% endif %}</a></li>
				<li><a href="#interactions"><span class="glyphicon glyphicon-chevron-right"></span> Interactions {% if interactions %}<span class="badge">{{interactions | length}}</span>{% endif %}</a></li>
				<li><a href="#snvs"><span class="glyphicon glyphicon-chevron-right"></span> Related SNVs {% if snv_list %}<span class="badge">{{snv_list|length}}</span>{% endif %}</a></li>
			</ul>
		</div><!--/span-->
	</div><!--/col-->
</div><!--/row-->

{% endblock %}

{% block extraplugin %}
<script type="text/javascript">
			
	$('[data-toggle="tooltip"]').tooltip({
		'placement': 'top'
	});
	$('[data-toggle="popover"]').popover({
		trigger: 'hover',
		    'placement': 'top'
	});
/*
	$('[data-toggle="modal"]').tooltip({
		trigger: 'hover',
		    'placement': 'bottom'
	});
*/
	$('[data-toggle="collapse"]').popover({
		trigger: 'hover',
		    'placement': 'top'
	});

	$('#userNameField').tooltip({
		'show': true,
		    'placement': 'bottom',
		    'title': "Please remember to..."
	});

	$('#userNameField').tooltip('show');


	$(document).on("click", ".open-AddBookDialog", function () {
		 var myBookId = $(this).data('id');
		// 'Modern' browsers (IE8+, use CSS-style selectors)
		document.querySelector('#myResults').innerHTML = myBookId;
		// Using the jQuery library
		$('#myResults').html(myBookId);
		// Legacy browser support
		document.getElementById('myResults').innerHTML = myBookId;
		 //$(".modal-body #bookId").val( myBookId );
	});
</script>
{% endblock %}
